page-login {
    #login {
        .form-container {
            margin-top: 5vh;
            .item-block {
                padding: 0;
            }
            .login-button {
                margin-top: 5vh;
            }
            .not-registered-button {

            }

        }
    }
}
